@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');
@font-face{
    font-family: pokemon;
    src: url(../fonts/Pokemon\ Hollow.ttf);
}

@font-face{
    font-family: pokemonSolid;
    src: url(../fonts/Pokemon\ Solid.ttf);
}


body{
    display: grid;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('../image/fondos/fondo5.jpg');
    font-family: 'Fredoka One', cursive;  
    text-align: center;
}

h1 {
    display: grid;
    color: rgb(248, 248, 248);
    font-family: pokemon;
    font-size: xx-large;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

#seleccionar-mascota{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: -16px;
    margin-bottom: 20px;
    height: 100%;
    gap: 50px;
}

h2 {
    color: rgb(248, 17, 17);
    font-family: pokemon;
    margin-top: -20px;
    margin-bottom: 20px;
}

.container-tarjetas{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 50px;
    justify-items: center;
    justify-content: center;
}

.tarjetas{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
}

label {
    color: rgb(34, 146, 40);
    display: grid;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    justify-items: center;
}

label:hover{
    background-color: rgb(190, 190, 190);
    opacity: 0.6;
    box-shadow:  0 0 0 2px white, 0 0 0 4px blue;
    width: 100%;
} 

.tarjetas img{
    width: 120px;
    height: 140px;
}

.nomostrar{
    display:none;
}
   
.chkconlabel[type="radio"]:checked + label{
    background-color: rgb(190, 190, 190);
    opacity: 0.6;
    box-shadow:  0 0 0 2px white, 0 0 0 4px blue;
}

button{
    padding: 12px;
    font-weight: 400;
    border-radius: 2rem;
    border: none;
    font-size: .9rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    cursor: pointer;
}

#seleccionar{
    font-weight: 900;
    color: rgba(251, 255, 0, 0.774);
    background-image: url(../image/btn/seleccionar.bmp);
}

input{
    display: none;
}

#seleccionar-ataque{
    display: grid;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: -96px;
}

.btn-ataque{
    padding: 12px;
    margin: 24px 24px;
}

#fuego {
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-image: url(../image/btn/fuego.bmp);
}

#agua{
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-image: url(../image/btn/agua.bmp);
}

#tierra{
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-image: url(../image/btn/piedra.bmp);
}

#batalla{
    display: grid;
    width: 60%;
    grid-template-columns: 40% 20% 40%;
    align-items: center;
    justify-items: center;
    justify-content: center;   
    justify-items: center;
    align-content: center;
}

.miResultado, .resultadoRival{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;  
}

#resultado-mio{
    justify-items: center;
    width: 90%;
    height: 190px;
    background-color: #fff;
    border-radius: 20px;
}
#resultado-mio::-webkit-scrollbar {
    display: none;
}
.uno {
    display: grid;
    background: #fff;
    border-radius: 20px;
    width: 70%;
    justify-content: center;
    margin-top: 0;
    margin-left: -44px;
}

#resultado-enemigo{
    justify-items: center;
    width: 90%;
    height: 190px;
    background-color: #fff;
    border-radius: 20px;
}
#resultado-enemigo::-webkit-scrollbar {
    display: none;
}
.dos {
    display: grid;
    background: #fff;
    border-radius: 20px;
    width: 70%;
    justify-content: center;
    margin-top: 0;
    margin-right: -44px;
}

.tres{
    margin-top: -4px;
    margin-bottom: 0px;
    font-family: pokemonSolid;
}

#batalla-resultado{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    font-size: x-large;
    width: 100%;
}

#resultado-batalla{
    display: grid;
    position: absolute;
    width: 15%;  
    text-align: center;
    font-family: pokemon;
    color: #fff;
}

section div div img{
    width: 80px;
}

#mensajes{
    display: grid;
    justify-content: center;
    width: 190px;
    height: 255px;
    border-radius: 10px;
}

progress {
    display: grid;
    margin-top: -46px;
    height: 40px;
}

.aliado{ 
    background-image: url(../image/aliadoFondo.jpg);
}

.rival{
    background-image: url(../image/rivalFondo.jpg);
}

#mensajes p{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
}

#mensajes img{
    width: 160px;
    height: 100%;
}

#msj-dinamico{
    color: rgb(80, 153, 77);
}

#reiniciar{
    display: grid;
    place-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #000;
    border-radius: 50%;
    padding: 0;
    margin-top: 20px;
    cursor: pointer;
}

#reiniciar-btn{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 0px;
    z-index: 0;
    background-color: transparent;
}

#reiniciar-btn::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: red;
    border-radius: 30px 30px 0 0;
    border: 3px solid;
    margin-top: -23px;
    margin-left: -33px;
}

#reiniciar-btn::after{
    content: '';
    width: 15px;
    height: 15px;
    background-color: #000;
    position: absolute;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: -6px;
}

#reiniciar-btn p{
    position: absolute;
    z-index: 1;
    margin-top: -8px;
    margin-left: -17px;
    font-family: pokemonSolid;
    font-size: x-large;
    margin-left: -24px;
}

/* para decorar y que se note el texto re Reolad con el fondo que puse */
.gradient-text{
    background-image: linear-gradient(45deg, rgb(255, 0, 6), rgb(194, 33, 243));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text2{
    background-image: linear-gradient(45deg, rgb(21, 255, 0), turquoise);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text3{
    background-image: linear-gradient(45deg, rgb(255, 238, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text4{
    background-image: linear-gradient(45deg, rgb(247, 0, 255), rgb(255, 102, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* para la parte de visualizar el mapa que creamos */
#ver-mapa{
    grid-template-columns: 100%;
    justify-items: center;
    align-content: center;
    position: relative;
}

#mapa-control{
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-end;
    justify-items: end;
}

#control-flechas{  
    position: absolute;
    display: grid;
    justify-items: center;
    margin-bottom: 10px;
}

#control-flechas button{
    border-radius: 10px;
    margin: 0 10px;
    background-color: rgb(59, 58, 58);
    color: #fff;
}

#regresar{
    margin-top: 20px;
    font-family: pokemonSolid;
}

@media (max-width: 1639px) {
    #resultado-batalla{
        color: rgba(255, 0, 0, 0.932);
    }
}

@media (max-width: 990px) {
    .tarjetas img{
        width: 80px;
        height: 100px;
    }

    #seleccionar-ataque {  
    margin-top: -132px;
    }

    .btn-ataque{
        margin-top: -20px;
    }

    #batalla{
        width: 100%;
        height: 400px;
        grid-template-columns: 60%;
    }

    .miResultado, .resultadoRival {
        width: 75%;
    }

    #mensajes {
        width: 126px;
        height: 142px;
        font-size: small;
    }

    progress {
        display: grid;
        margin-top: -35px;
        width: 100%;
        height: 25px;
    }

    #mascota-propia, #mascota-rival {
        margin-top: 4px;
        z-index: 1;  
    }

    .uno, .dos {
        width: 60%;
        font-size: small;
    }

    #resultado-mio, #resultado-enemigo {
        height: 108px;
    }

    #resultado-batalla{
        color: rgba(255, 0, 0, 0.932);
        width: 60%;
    }

    .seleccion-ataque{
        margin: 0 ;
    }

    #mensajes img{
        width: 90%;
        height: 95%;
    }
        
    #reiniciar{
        margin-bottom: -100px;
    }    
}

@media (max-width: 500px) {
    h1{
        font-size: small;
    }

    .container-tarjetas{
        grid-template-columns: repeat(auto-fill, 60px);
        gap: 30px;
        width: 100%;
    }

    label {
        font-size: small;
        width: 60px;
    }

    label:hover{
        width: 135%;
    } 

    .tarjetas img{
        width: 60px;
        height: 80px;
    }
    
    /* porque esta imagen es mas grande que el resto */
    .tarjetas .tuca-grande{
        width: 45px;
    } 

    button{
    height: 20px;
    display: grid;
    align-content: center;
    }

    #seleccionar-ataque{
        margin-top: 0px;
    }

    .h2-ataque{
        margin-top: -140px;
        font-size: small;
    }
    
    .seleccion-ataque {
        display: grid;
        margin-top: -100px;
        grid-template-columns: 35% 33% 35%;
        justify-content: center;
        padding: 14px;
    }

    .btn-ataque{
        font-size: x-small;
        margin: 12px 16px 12px 16px;
        padding: 12px;
    }

    #batalla{
        display: grid;
    }

    .miResultado{
        width: 400px;
        margin-right: -32px;
    }

    .resultadoRival{
        width: 400px;
        margin-left: -12px;
        margin-top: 10px;
    }

    #resultado-batalla {
        color: rgba(0, 247, 255, 0.932);
        width: 100%;
    }

    #reiniciar{
        margin-top: 20px;
    }
    #reiniciar-btn::before {
        margin-top: 0px;
        margin-left: -15px;
    }
    #reiniciar-btn::after {
        margin-top: 26px;
        margin-left: 10px;
    }
    #reiniciar-btn p {
        margin-top: 10px;
    }
}



